   * {
      margin: 0;
      padding: 0;
      letter-spacing: 0.20px;

    }

    body {
      background-color: #f0f7fa;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
 
    nav {
  background-color: #2193b0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  height: 60px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 100px;
}

nav h1 {
  font-size: 45px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

nav ul li a:hover {
  color: black;
}


    .back-btn  a{
      position: fixed;
      bottom: 40px;
      right: 50px;
      background-color: #087793 ;
      color: white;
      border: none;
      padding: 12px 18px;
      border-radius: 20px;
      font-size: 20px;
      text-decoration: none;
    }
    .back-btn a:hover {
   background-color: black;
      color: #fff;
    }


    header {
      background: linear-gradient(135deg, #6dd5ed, #2193b0);
      color: white;
      text-align: center;
      padding: 20px ;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    header h1 {
      font-size: 28px;

    }
   

    header p {
      font-size: 15px;
      color: #eaf7ff;
    }

    .course-section {
      display: grid; 
      grid-template-columns: 1fr 1fr ;
      gap: 50px;
      padding: 40px 60px;
      list-style: none;
    }

    .course-card {
      background-color: rgb(217, 231, 237);
      border-radius: 15px;
      text-align: center;
      padding: 25px;
    }

    .course-card h3 {
      color: #2193b0;
      margin-bottom: 10px;
      font-size: 30px;
    }

    .course-card p {
      font-size: 18px;
      color: #555;
      margin-bottom: 15px;
    }

    .course-card button {
      background-color: #2193b0;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      font-size: 18px;
    }

    .course-card button:hover {
      background-color: #176b8a;
    }
    .course-card img{
        align-items: end;
        border-radius: 30px;
        margin-top: 10px;
    }
     
    body {
      background-color: #f4f9fc;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      justify-content: flex-end;
     
    }

    footer {
      background: linear-gradient( #6dd5ed, #2193b0);
      color: white;
      padding: 40px  20px ;
      text-align: center;
    }

    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      margin-bottom: 30px;
    }

    .footer-section {
      max-width: 250px;
      text-align: left;
      padding: 0 15px;
    }

    .footer-section h3 {
      margin-bottom: 10px;
      font-size: 18px;
      border-bottom: 2px solid white;
      padding-bottom: 5px;
    }

    .footer-section p{
      font-size: 20px;
      color: #eaf7ff;
      text-decoration: none;
      margin: 6px 0;
      
    }
    .footer-section a {
      font-size: 20px;
      color: #eaf7ff;
      text-decoration: none;
      margin: 6px 0;
       display: flex;
      flex-direction: column;
     
    }

   
    .footer-bottom {
      padding-top: 30px;
      font-size: 20px;
      color: #eaf7ff;
    }
    .course-card button a{
      text-decoration: none;
      color: #fff;
    }