   * {
      margin: 0;
      padding: 0;
      letter-spacing: 0.20px;
    }

    body {
      background-color: #fff;
      color: #333;
    }
    nav {
  background-color: #2193b0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  height: 60px;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 100px;
}

nav h1 {
  font-size: 45px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

nav ul li a:hover {
  color: black;
}


    header {
      background: linear-gradient( #3776AB, #1E3C72);
      color: white;
      text-align: center;
      padding: 40px 20px;
      height: 50px;
    }

    header h1 {
      font-size: 38px;
      margin-bottom: 10px;
    }

    header p {
      font-size: 18px;
      color: #fff;
    }

    .container {
      width: 90%;
      max-width: 1000px;
      margin: 40px auto;
      background: #fff;
      border-radius: 15px;
      padding: 30px;
    }
     .container h2{
      font-size: 30px;
     }
     .container p{
      font-size: 20px;
     }
    .container ul li{
      font-size:20px ;
    }

    .course-img {
      text-align: center;
      margin-bottom: 25px;
    }

    .course-img img {
      width: 180px;
      height: 180px;
    }

    h2 {
      color: #1E3C72;
      margin-bottom: 10px;
      font-size: 30px;
    }

    p {
      margin-bottom: 15px;
      font-size: 20px;
      color: #444;
    }

    ul {
      margin-left: 20px;
      margin-bottom: 20px;
    }

    ul li {
      margin-bottom: 8px;
      font-size: 20px;
    }

    .button {
      background-color: #3776AB;
      color: #fff;
      padding: 12px 25px;
      border-radius: 8px;
      text-decoration: none;
    }

    .button:hover {
      background-color: #2b5d8d;
    }

      footer {
      background: linear-gradient( #6dd5ed, #2193b0);
      color: white;
      padding: 40px  20px ;
      text-align: center;
    }

    .footer-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      margin-bottom: 30px;
    }

    .footer-section {
      max-width: 250px;
      text-align: left;
      padding: 0 15px;
    }

    .footer-section h3 {
      margin-bottom: 10px;
      font-size: 18px;
      border-bottom: 2px solid white;
      padding-bottom: 5px;
    }

    .footer-section p{
      font-size: 20px;
      color: #eaf7ff;
      text-decoration: none;
      margin: 6px ;
    }
    .footer-section a {
      font-size: 20px;
      color: #eaf7ff;
      text-decoration: none;
      margin: 6px ;
      display: flex;
      flex-direction: column;
    }

   
    .footer-bottom {
      padding-top: 30px;
      font-size: 20px;
      color: #eaf7ff;
    }

    .back-btn  a{
      position: fixed;
      bottom: 40px;
      right: 50px;
      background-color:#087793;
      color: white;
      border: none;
      padding: 12px 18px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 20px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      text-decoration: none;
     

}
.back-btn a:hover {
  background-color: black;
  color: #fff;
}